.DS_Store
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.swp
*.swo
node_modules/
application/controllers/
application/models/
application/routes/
application/views/
.idea

!application/controllers/readme.md
!application/models/readme.md
!application/routes/readme.md
!application/views/readme.md